---
layout: base.njk
---

{# 获取当前语言 #}
{% set currentLang = "en" %}
{% for lang in ["zh", "ja", "ko", "fil", "vi", "id", "ms", "th", "ru", "uk", "de", "pt"] %}
  {% if page.url.startsWith("/" + lang + "/") %}
    {% set currentLang = lang %}
  {% endif %}
{% endfor %}

{# 获取当前页面的i18n数据 #}
{% if i18n[currentLang] %}
  {% set translations = i18n[currentLang] %}
{% else %}
  {% set translations = i18n["en"] %}
{% endif %}
<style>
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: linear-gradient(to right, var(--slider-color) 0%, var(--slider-color) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;

    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--slider-color);
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--slider-color);
        cursor: pointer;
    }
</style>
<main class="w-screen h-screen bg-[var(--slider-color)] transition-colors duration-500 p-4 md:py-10 text-md flex justify-center items-center" id="mainContainer">
    <div class="w-full h-full overflow-auto sm:overflow-hidden landscape:overflow-y-auto max-w-[800px] max-h-[800px] mx-auto p-4 md:py-8 bg-black bg-opacity-30 backdrop-blur-lg rounded-2xl shadow-2xl">
        <!-- Timer Container -->
        <div class="w-full h-full m-auto flex flex-col justify-around" id="settingsContainer">
            <!-- Timer Display -->
            <div class="text-center">
                {# <p class="text-4xl text-white opacity-80">Inside Timer</p> #}
                <p class="text-6xl md:text-8xl font-bold text-white" id="timerDisplay">00:00</p>
            </div>

            <!-- Timer Settings -->
            <div class="space-y-1 md:space-y-8 mb-4">
                <!-- Warm Up -->
                <div class="shadow-lg p-4 rounded-md">
                    <div class="flex items-center justify-between mb-2 font-fgr">
                        <h3 class="text-sm md:text-lg font-semibold text-white">Warm Up</h3>
                        <span class="text-[var(--slider-color)]" id="warmUpValue">0s</span>
                    </div>
                    <div class="flex items-center gap-4">
                        <button class="text-white opacity-80 hover:opacity-100" id="decreaseWarmUp">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <input type="range" min="0" max="60" step="5" value="0" 
                            class="slider w-full h-2 bg-white bg-opacity-20 rounded-lg appearance-none cursor-pointer"
                            id="warmUpTime"
                            />
                        <button class="text-white opacity-80 hover:opacity-100" id="increaseWarmUp">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- Duration -->
                <div class="shadow-lg p-4 rounded-md">
                    <div class="flex items-center justify-between mb-2 font-fgr">
                        <h3 class="text-sm md:text-lg font-semibold text-white">Duration</h3>
                        <span class="text-[var(--slider-color)]" id="durationValue">1min</span>
                    </div>
                    <div class="flex items-center gap-4">
                        <button class="text-white opacity-80 hover:opacity-100" id="decreaseDuration">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <input type="range" min="60" max="7200" step="30" value="60" 
                            class="slider w-full h-2 bg-white bg-opacity-20 rounded-lg appearance-none cursor-pointer"
                            id="durationTime">
                        <button class="text-white opacity-80 hover:opacity-100" id="increaseDuration">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                    <!-- Duration Sound Settings -->
                    <div class="mt-4 font-fgr">
                        <div>
                            <label class="text-xs text-white opacity-80 font-semibold">Starting/Ending Bell</label>
                            <div class="flex overflow-x-auto space-x-2 mt-1 pb-2" id="startSound">
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell01">Bell 1</button>
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell02">Bell 2</button>
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell03">Bell 3</button>
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell04">Bell 4</button>
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell05">Bell 5</button>
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell06">Bell 6</button>
                                <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell07">Bell 7</button>
                            </div>
                        </div>
                        {# <div class="">
                            <label class="text-xs text-white opacity-80 font-semibold">End Sound</label>
                            <div class="flex overflow-x-auto space-x-2 mt-1 pb-2" id="endSound">
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell01">Bell 1</button>
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell02">Bell 2</button>
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell03">Bell 3</button>
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell04">Bell 4</button>
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell05">Bell 5</button>
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell06">Bell 6</button>
                                <button class="min-w-20 px-4 py-1 text-xs bg-white bg-opacity-20 hover:bg-opacity-30 rounded-full text-white transition-all" data-sound="bell07">Bell 7</button>
                            </div>
                        </div> #}
                    </div>
                </div>

                <!-- Interval -->
                <div class="shadow-lg p-4 rounded-md">
                    <div class="flex items-center justify-between mb-2 font-fgr">
                        <h3 class="text-sm md:text-lg font-semibold text-white">Interval Repeat</h3>
                        <span class="text-[var(--slider-color)]" id="intervalValue">0s</span>
                    </div>
                    <div class="flex items-center gap-4">
                        <button class="text-white opacity-80 hover:opacity-100" id="decreaseInterval">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                            </svg>
                        </button>
                        <input type="range" min="0" max="60" step="5" value="0" 
                            class="slider w-full h-2 bg-white bg-opacity-20 rounded-lg appearance-none cursor-pointer"
                            id="intervalTime">
                        <button class="text-white opacity-80 hover:opacity-100" id="increaseInterval">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                    <!-- Interval Sound Setting -->
                    <div class="mt-4 font-fgr">
                        <label class="text-xs text-white opacity-80 font-semibold">Interval Bell</label>
                        <div class="flex overflow-x-auto space-x-2 mt-1 pb-2" id="intervalSound">
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell01">Bell 1</button>
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell02">Bell 2</button>
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell03">Bell 3</button>
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell04">Bell 4</button>
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell05">Bell 5</button>
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell06">Bell 6</button>
                            <button class="w-10 h-10 flex-shrink-0 text-xs bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] animate-gradient-x bg-opacity-20 hover:bg-opacity-30 rounded-full text-white font-black transition-all flex items-center justify-center" data-sound="bell07">Bell 7</button>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Control Buttons -->
            <div class="pb-4 sm:pb-0 landscape:pb-4 flex justify-center gap-4 font-fgr">
                <button id="startButton" 
                    class="px-4 sm:py-2 bg-gradient-to-br from-[#91b5bf] to-[#91b5bf] via-[var(--slider-color)] hover:scale-110 duration-300 rounded-full text-white font-semibold transition-all">
                    Start
                </button>
                 
                <button id="savePreset" 
                    class="px-4 sm:py-2 border-4 border-[var(--slider-color)] bg-white bg-opacity-80 hover:scale-110 duration-300 rounded-full text-[var(--slider-color)] font-semibold transition-all">
                    Save
                </button>
            </div>
        </div>

        <!-- Timer Screen (Hidden by default) -->
        <div id="timerScreen" class="hidden w-full h-full m-auto flex flex-col justify-center items-center">
            <div class="text-center w-full">
                <p class="text-4xl text-[var(--slider-color)] opacity-80 mb-8 font-fgr" id="timerScreenPhase">Meditation</p>
                <p class="text-6xl md:text-8xl font-bold text-white mb-8" id="timerScreenDisplay">00:00</p>
                <div class="flex justify-center gap-4 font-fgr">
                    <button id="pauseButton" 
                        class="px-8 py-3 bg-[var(--slider-color)] bg-opacity-20 hover:scale-110 duration-300 rounded-full text-white font-semibold transition-all">
                        Pause
                    </button>
                    <button id="continueButton" 
                        class="hidden px-8 py-3 bg-white bg-opacity-20 hover:scale-110 duration-300 rounded-full text-white font-semibold transition-all">
                        Continue
                    </button>
                    <button id="resetButton" 
                        class="hidden px-8 py-3 bg-white bg-opacity-20 hover:scale-110 duration-300 rounded-full text-white font-semibold transition-all">
                        Finish
                    </button>
                </div>

            </div>

        </div>
    </div>
</main>